* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f1f1;
}
ul,
ol {
  list-style: none;
}
img {
  vertical-align: top;
}
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
a:hover {
  text-decoration: none;
}
.video-thumb {
  display: block;
  padding-top: 56%;
  background: no-repeat center center / 100% auto;
}
.channel-thumb-area .img-wrap {
  width: 45px;
  height: 45px;
}
.search-wrapper h5 {
  max-width: 500px;
}

.home-wrapper h5,
.search-wrapper h5,
.related-video-area h5 {
  max-height: calc(1.25rem * 1.2 * 2);
  overflow: hidden;
}
.description {
  white-space: pre-wrap;
}
.search-filter button {
  text-transform: capitalize;
}
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
